!!! 5
%html{ :lang => @lang }
  %head
    %meta( charset='UTF-8' )
    %title
      = t.name.first
      = t.quotes(t.name.nick)
      = t.name.last
    %link( rel='icon' href='favicon.ico' type='image/x-icon' )

    %meta{ :name => 'keywords', :content => t.keywords }
    %meta{ :name => 'description', :content => t.description }

    %link( rel='openid.server' href='http://www.myopenid.com/server' )
    %link( rel='openid.delegate' href='http://iskin.myopenid.com/' )
    %link( rel='openid2.provider' href='http://www.myopenid.com/server' )
    %link( rel='openid2.local_id' href='http://iskin.myopenid.com' )

    %script( src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js' )
    :javascript
      if ('/' == location.pathname && 'ru' == navigator.language)
          location = location + 'index.ru.html'
      jQuery(function($) {
          if ($.browser.msie) $('li p, dt').css('opacity', 0.6)

          $('li a, dd').hover(function(e) {
              $(this).prev().css('opacity', ('mouseenter' == e.type ? 1 : 0.6))
          })

          $('#photo').click(function() {
              var link = $(this)
              var top  = link.position().top - 48
              var left = link.position().left - 78
              var full = $('<div id="full"></div>').hide().prependTo('body')
              var img  = $('<img src="' + link.attr('href') + '" />').
                  appendTo(full).css({ width: 350, top: top, left: left })
              full.fadeIn(function() {
                  var to = ($(document).width() - 600) / 2
                  img.animate({
                      width: '600px', top: 20,
                      left: to > 0 ? to : 0
                  })
              }).click(function() {
                  img.animate({ width: '350px', top: top, left: left },
                              function() {
                                  full.fadeOut(function() { $(this).remove() })
                              })
              })
              return false
          })

          $('.nick').hover(function() {
              $('<div class="avatar"><img src="avatar.png" /></div>').
                  prependTo('#photo').hide().delay(200).fadeIn()
          }, function() {
              $('.avatar').stop(true).fadeOut(function() { $(this).remove() })
          })
      })

    %link( href='http://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic' rel='stylesheet' )/
    %style
      :sass
        *
          margin: 0
          padding: 0
        html
          background: #333
          font: 16px Cuprum, Helvetica, sans-serif
          color: white
          line-height: 1.3
        body
          padding: 0.5em
        #full
          position: absolute
          width: 100%
          height: 100%
          margin: -0.5em
          z-index: 9
          background: #2a2a2a
          cursor: pointer
          img
            position: absolute
            box-shadow: 2px 2px 4px #151515
            max-width: 100%
        #root
          margin: 3.5em auto 0 auto
          width: 49em
          max-width: 100%
        a
          color: #44b0ba
          text-decoration: none
          &:hover
            text-decoration: underline
        h1
          font-size: #{'en' == @lang ? '280%' : '260%'}
          font-weight: normal
          margin-bottom:  #{'en' == @lang ? '0.25em' : '0.37em'}
          text-shadow: 2px 2px 5px black
          .nick:hover
            color: #44b0ba
        #photo
          display: block
          float: left
          margin: 0 2em 1.5em 0
          img
            border: none
          .thumb
            box-shadow: 1px 1px 3px #111
            &:hover
              box-shadow: 2px 2px 4px #151515
          .avatar
            position: absolute
            width: 165px
            height: 190px
            background: black
            text-align: center
            padding: 77px 0 0 35px
        dl
          float: left
          margin: 0 3em 1.5em 0
          margin-top: 0.1em
          max-width: 100%
        dd
          color: #999
        dd, li a
          display: inline-block
          margin-bottom: 0.55em
          text-shadow: 1px 1px 2px black
          font-size: 140%
        dt, li p
          opacity: 0.6
          transition: opacity 500ms ease
          -moz-transition: opacity 500ms ease
          -webkit-transition: opacity 500ms ease
          -o-transition: opacity 500ms ease
        ul
          width: 18em
          max-width: 100%
          float: left
          li
            float: left
            list-style: none
            margin-right: 1.5em
            width: 6.8em
        #translate
          position: absolute
          top: 0.5em
          right: 1em
          color: #44b0ba
        @media handheld, screen and (max-device-width: 321px)
          #root
            margin-top: 1.5em !important
          h1
            font-size: #{'en' == @lang ? '210%' : '180%'}
            margin-bottom: #{'en' == @lang ? '0.5em' : '0.7em'}
          #translate
            left: 0.5em

    - if production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18062508-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.async = true;
            ga.src = 'http://www.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

  %body( itemscope itemtype="http://schema.org/Person" )
    #root
      %h1( itemprop="name" )
        %span( itemprop="givenName" )= t.name.first
        = t.quotes("<span class=\"nick\">#{t.name.nick}</span>")
        %span( itemprop="familyName" )= t.name.last
      %a#photo( href='photo.jpg' itemprop="image" )
        %img.thumb( src="photo.small.jpg" style="width: 200px; height: 267px;" alt="#{t.photo}" )
      %dl
        %dt= t.contacts.address
        %dd
          %a( href='mailto:andrey@sitnik.ru' itemprop="email" ) andrey@sitnik.ru
        %dt= t.contacts.phone
        %dd
          %a( href='tel:+79117696571' itemprop="telephone" ) +7 911 769 65 71
        %dt= t.contacts.location
        %dd
          %a.locality{ :href => t.locality.href }>= t.locality.name
          - if t.country
            ,
            %div
              %a{ :href => @i18n.country.href }= t.country.name
          - elsif t.locality.other
            ,
            %div= t.locality.other
        %dt= t.contacts.key
        %dd
          %a( href='http://sitnik.ru/1F710E4D.asc' ) 1F710E4D
      %ul
        %li
          %p= t.links.github.desc
          %a( href='https://github.com/ai' rel="me" )= t.links.github.name
        %li
          %p= t.links.twitter.desc
          %a( href='http://twitter.com/andrey_sitnik' rel="me" )= t.links.twitter.name
        %li
          %p= t.links.wikipedia.desc
          %a( href='http://ru.wikipedia.org/wiki/User:A.I.' rel="me" )= t.links.wikipedia.name
        %li
          %p= t.links.habrahabr.desc
          %a( href='http://iskin.habrahabr.ru/blog/' rel="me" )= t.links.habrahabr.name
        %li
          %p= t.links.slideshare.desc
          %a( href='http://www.slideshare.net/iskin' rel="me" )= t.links.slideshare.name
        %li
          %p= t.links.vkontakte.desc
          %a( href='http://vk.com/iskin' rel="me" )= t.links.vkontakte.name
    #translate
      = t.translate.icon
      %a{ :href => "index.#{t.translate.lang}.html", :rel => 'alternate', :hreflang => t.translate.lang }= t.translate.title
