doctype html
html( lang="es" itemtype="https://schema.org/Person" itemscope )
  head
    meta( charset="UTF-8" )
    title Andrey Sitnik
    meta( name="description" content="Contactos y proyectos de Andrey Sitnik" )
    include ../base/head.pug
  body
    .layout
      .layout_globe

        a.photo( href="../photo/andreysitnik.jpg" target="_blank" )
          picture.photo_image
            source( srcset="../photo/photo.avif" type="image/avif" )
            img.photo_image( src="../photo/photo.jpg" alt="Foto de Andrey Sitnik" itemprop="image" )

        h1.layout_title
          span( itemprop="givenName" ) Andrey
          = ' '
          span( itemprop="familyName" ) Sitnik

        .globe
          .earth( data-lat=location.latitude data-lng=location.longitude )
            .earth_loading
            canvas.earth_canvas

          .globe_visited
            = visited.countries.length
            = ' '
            = pluralize(visited.countries.length, 'país', 'países')
            = ' visitado'

          button.globe_location( type="button" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" tabindex="-1" )
            span( itemprop="addressLocality" )= location.es.city
            = ', '
            span( itemprop="addressCountry" )= location.es.country

      .layout_links

        .contacts
          .contacts_contact
            a.link( href="mailto:andrey@sitnik.ru" itemprop="email" )
              | andrey@sitnik.ru
            .contacts_notes
              a.link( href="https://keybase.io/iskin" itemprop="sameAs" rel="me" title="Clave pública GnuPG para verificar mi firma o cifrar el mensaje por mí" )
                | PGP 63BC 24D9 8C77 F786
          .contacts_contact
            a.link.is-text( href="tel:+34613026399" itemprop="telephone" )
              | +34 613 026 399
            .contacts_notes
              a.link( href="https://wa.me/19143123913" itemprop="sameAs" rel="me" )
                | WhatsApp
              = ' '
              a.link( href="https://t.me/sitnik" itemprop="sameAs" rel="me" )
                | Telegram

        link( href="https://twitter.com/andrey_sitnik" itemprop="sameAs" rel="me" )
        link( href="https://vk.com/iskin" itemprop="sameAs" rel="me" )
        ul.projects
          li.projects_item
            h2.projects_title
              span.projects_name Twitter
              ul.projects_links
                li.projects_link
                  a.link( href="https://twitter.com/andreysitnik" itemprop="sameAs" rel="me" )
                    | Personal
                li.projects_link
                  a.link( href="https://twitter.com/sitnikcode" itemprop="sameAs" rel="me" )
                    | Programación
            p
              | Mis notas sobre sexo, viajes y tecnologías

          li.projects_item
            h2.projects_title
              a.link( href="https://github.com/ai" itemprop="sameAs" rel="me" )
                | GitHub
            p
              | He creado Autoprefixer, PostCSS, Browserslist, Logux y Nano ID

          li.projects_item( itemprop="worksFor" itemscope itemtype="http://schema.org/Organization" )
            h2.projects_title
              a.link( href="https://evilmartians.com/" itemprop="url" )
                | Evil Martian
            p
              = 'Soy desarrollador principal de front-end en '
              span( itemprop="name" ) Evil Martians

          li.projects_item
            h2.projects_title
              span.projects_name Sitnikfriday
              ul.projects_links
                li.projects_link
                  a.link( href="https://twitter.com/hashtag/sitnikfriday" )
                    | Twitter
                li.projects_link
                  a.link( href="https://t.me/sitnikfriday" )
                    | Telegram
            p
              | Mi proyecto sexopositivo

          li.projects_item
            h2.projects_title
              a.link( href="https://twitter.com/linguopunk" )
                | Linguopunk
            p
              | Mi cuenta de Twitter sobre la diversidad lingüística

          li.projects_item
            h2.projects_title
              a.link( href="https://twitter.com/lostinwiki" )
                | Lost in Wikipedia
            p
              | Mi cuenta de Twitter con datos extraños de Wikipedia

          li.projects_item
            h2.projects_title
              a.link( href="https://www.instagram.com/sitnikandrey/" itemprop="sameAs" rel="me" )
                | Instagram
            p
              | Fotos de viajes y pintura corporal con henna

      .layout_language
        a.link( href="/en/" hreflang="en" rel="alternate" ) English
        span.layout_separator= ' '
        a.link( href="/ru/" hreflang="ru" rel="alternate" ) Русский

    script( src="../index.js" )
